<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">
	<variable name="connection" value="Data Source=Telemetry,1433;Database=Telemetry;TrustServerCertificate=True;user id=sa;password=BigPassw0rd;" />
	
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>		
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target name="Error" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" connectionString="${connection}" >
			<commandText>
				exec [Logging].[Error_i] @Time_stamp, @Level, @Logger, @Message, @StackTrace				
			</commandText>			
			<parameter name="@Level" layout="${uppercase:${level}}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@StackTrace" layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}| body: ${aspnet-request-posted-body}" />	
            <parameter name="@CreateDate" layout="${date}" />
		</target>
		<target name="Trace" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" connectionString="${connection}" >
			<commandText>
				exec [Logging].[Trace_i] @Time_stamp, @Level, @Logger, @Message
			</commandText>
			<parameter name="@Time_stamp" layout="${date}" />
			<parameter name="@Level" layout="${uppercase:${level}}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Message" layout="${message}" />			
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" level="Error"  writeTo="Error" />
		<logger name="*" level="Trace" writeTo="Trace" />
	</rules>
</nlog>